html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: white;
  box-sizing: border-box;
  font-family: "Inter", "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#title {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
}

#title > p {
  font-size: 18px;
  margin: 9px 0px;
  font-weight: bold;
}

#game-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

#correct-answers {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#answer-area,
#selected-letter {
  width: 100%;
  text-align: center;
}

#answer-area {
  margin-bottom: 5px;
}

#selected-letter,
#daily-letters,
#score {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#game-buttons {
  text-align: center;
}

#helper-title {
  text-align: center;
  font-size: 18px;
}

#helper-footer {
  text-align: center;
}

#app {
  margin-bottom: 1em;
}

.game-button {
  background-color: dodgerBlue;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #aaa;
  box-sizing: border-box;
  padding: 8px;
  cursor: pointer;
  font-size: 12px;
}

.base-timer {
  position: relative;
  width: 100px;
  height: 100px;
}

/* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */
.base-timer__svg {
  transform: scaleX(1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.arc {
  color: rgba(179, 48, 102, 0.973);
}

.base-timer__label {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.square {
  height: 28px;
  width: 28px;
  border-color: #555;
  border-style: solid;
  border-color: #555;
  margin: 2px 2px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#keyboard-cont {
  margin: 4px 8px 0px;
  user-select: none;
  width: 100%;
}

.first-row,
.third-row {
  display: flex;
  width: 100%;
  margin: 0 2px 8px;
  touch-action: manipulation;
}

.second-row {
  display: flex;
  width: 100%;
  touch-action: manipulation;
  margin: 0.5rem 0;
}

.spacer {
  flex: 0.5;
}

.keyboard-button {
  font-family: inherit;
  font-weight: bold;
  border: 2px solid black;
  padding: 0;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background-color: white;
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 240px;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 4px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  /* height: 32px; */
  font-size: 16px;
}

input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

#answer-button {
  background-color: dodgerBlue;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #aaa;
  box-sizing: border-box;
  padding: 8px;
  cursor: pointer;
  width: 80px;
  font-size: 16px;
}

.popup-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 3000;
}

.popup-content {
  position: relative;
  border-radius: 8px;
  border: 1px solid #f6f7f8;
  background: #ffffff;
  color: #1a1a1b;
  box-shadow: 0 4px 23px 0 rgb(0 0 0 / 20%);
  width: 90%;
  max-width: 500px;
  max-height: 90%;
  overflow-y: auto;
  padding: 0;
  padding-bottom: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.helper {
  margin: 16px;
}

.new-game,
.share {
  margin-top: 8px;
}

@media only screen and (max-device-width: 375px) {
  .square {
    height: 16px;
    width: 16px;
    font-size: 12px;
  }

  #selected-letter,
  #daily-letters,
  #score {
    font-size: 14px;
    text-align: center;
  }

  .base-timer {
    width: 60px;
    height: 60px;
  }

  .base-timer__label {
    width: 60px;
    height: 60px;
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 376px) and (max-device-width: 400px) {
  .square {
    height: 20px;
    width: 20px;
    font-size: 12px;
  }

  #selected-letter,
  #daily-letters,
  #score {
    font-size: 16px;
    text-align: center;
  }

  .base-timer {
    width: 75px;
    height: 75px;
  }

  .base-timer__label {
    width: 75px;
    height: 75px;
    font-size: 20px;
  }
}
